<div class="jumbotron">
    <h1>Talk Notes</h1>
    <p class="lead">This is a simple demo of an ASP.NET Web API consuming a WCF service</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>go to <code>/api/TalkNotes</code>.</p>
    </div>
</div>
